body{
    --cor-principal: #0E6459;
    --cor-bt: #FF7816;
    --bt-hover:#D05700;
    --branco-auxiliar: aliceblue;
    --auxiliar-2: #272727;

}
li{
    list-style: none;
}
a{
    transition:color 0.6s;
}
/*Estilizando menu e texto*/

#title{
    
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #093D36;
    margin-top: 64px;
    font-size: 44px;

    
}
@media screen and (min-width: 480px){
.cabecalho{

    width: 100%;
    height: 88px;
    display: flex;
    background-color:var(--cor-principal);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cabecalho #logo{
    justify-content: start;
    margin-left: 15%;
}
}
@media screen and (max-width: 479px){
.cabecalho{

    display: block;
    padding: 16px;
    width: 100%;
   
  

    vertical-align: middle;
  

   
    background-color: #0E6459;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}
.cabecalho #logo{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    
  
}
.cabecalho #tools{
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    

}



}

.cabecalho #tools{

    display: flex;
    align-items: center;
    margin-right:15%;
    text-align: left;
    flex-wrap: wrap;

}
.cabecalho #login {

    font-size: 24px;
    
    font-family: 'Fraunces', serif;
    margin-right: 32px;
}
.cabecalho #login a{

    color: aliceblue;
    text-decoration: none;

}
.cabecalho #login a:hover, a:active{
    
    color: var(--cor-bt);
    text-decoration: none;

}

#userprofile{
    width: 45px;
    height: 45px;
}


/*estilizando login*/

input .nomeSenha{
    display: inline;
}
.nomeSenha{
    margin-right: 8px;
}
.nomeSenha input{
    display: inline;

    padding: 5px;
    margin-top: 8px;
    border-radius: 5px;
    border-style: none;

}
#entrar{
    width: 104px;
    margin-top: 8px;
    margin-right: 16px;
    color: var(--branco-auxiliar);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #FF7816;
    border-radius: 5px;
    border-style: none;
    
    

}


/* definindo e estilizando container de produtos*/
.price{
    margin-top: 8px;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    font-weight: 600;
    color:var(--cor-principal);
    
}

#content{
    width: 80%;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    
}

.item{

    margin-bottom: 128px;
    text-align: center;

   
}
.item h3{
    
    margin-top: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--auxiliar-2);
    
}


/*Estilizando botoes e input*/

.bt-comprar{

    display: block;
    margin:0 auto ;
    width: 173px;
    padding: 16px 24px;
    margin-top: 16px;

    color: var(--cor-bt);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color:transparent;
    border: 2px solid --cor-bt ;
    border-radius: 10px;
   
}

#entrar{
    cursor: pointer;
}
#entrar:hover{
    background-color: #D05700;
}
.bt-comprar:hover{
    cursor: pointer;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.25);
}

input[type=text]:focus{
    border:transparent;
}


/* Área do produto prêmio, café orfeu*/
#produto-premium{
    width: 100%;
    border-top: 10px solid --cor-bt;
    border-bottom: 10px solid --cor-bt;
}

.premium{
    
    width: 40%;
    height: 90%;
  

    display: flex;

    font-family: 'Fraunces', serif;



    background-color: var(--cor-principal);
}


.premium h3{


    font-size: 80pt;

    text-align: left;
    padding: 32px;

    color: var(--cor-bt);

}

.premium p{
    text-align: left;
    margin-left: 32px;
    
}

.premium #descricao{

    text-align: left;
    
    margin-left: 32px;;

    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

#orfeu{

   margin: auto;
   margin-right: 50%;
   width: 400px;
   height: 450px;
    
}

#cafe{
  
    margin: auto 80%;
}

 #bt-orfeu{

    display: block;
    margin:0 auto ;
    width: 173px;
    padding: 16px 24px;
    margin-top: 5px;

    color: var(--cor-bt);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color:transparent;
    border: 2px solid --cor-bt ;
    border-radius: 10px;

    margin-bottom: 16px;
}
#bt-orfeu:hover{

    cursor: pointer;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.25);

}

#footer{

    width: 100%;
    height: 50px;

    margin-top: 32px;
   

    background-color: var(--cor-bt);


    color: bisque;
    font-family: 'Roboto', sans-serif;
  
   


}

#footer p{

    text-align: center;
    padding-top:8px;
   
}

/*Alteração de cadastro*/

#containerLogin input #salva{
    display:none;
}


.form-container #containerLogin .namelabel{

    font-family: 'Fraunces', serif;
    font-size: 32px;
    color: var(--cor-principal);
    

    text-align: left;

    margin-bottom: 8px;
    margin-right: 8px;

}
#linha{
    margin: 8px 0 32px 0;
    border: 1px solid #0E6459;
}

.p-dados{
    text-align: left;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;

    color: var(--cor-bt);

}

.nome-icon{
    display: flex;
    align-items: center;
    

}
.nome-icon #icons{
   
    width: 20px;
    height: 20px;
    fill: var(--cor-bt);

}

/*estilizando os botões de dados de cadastro*/

#bts{
    box-sizing: border-box;
}

#bts a{
    text-decoration: none;
    color:white;
}

 
.delete{
    
    
    margin: 0 auto;
    width: 180px;
    padding: 10px 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    
    /*estilo texto*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  
    color:white;
    background-color:#EB4A4A;
    border: none;
    border-radius: 10px;
    transition:background-color 0.8s;
    
    
    box-sizing: border-box;
}
#bts .delete:hover{
    
   
    background-color: transparent;
    border: 2px solid #EB4A4A;
    color:#EB4A4A;
    
    cursor:pointer;
    
    box-sizing: border-box;
}





/* Estilizando carrinho */

.cart-item h3{
    
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--auxiliar-2);
    
}



#cart-content{
    
    width: 100%;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 32px;
}

.item-preview {

    width: 150px;

}

/*Estilizando histórico de compras*/


/*separar os box*/

#carro-itens{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#carro-itens .compras {
   
    margin-bottom: 112px;
    align-items: center;
 
}

.compras {
    
    width:100%;
    height:80px;
    
    padding-bottom: 10px;
    margin-bottom: 100px;
    
  
    border-radius:5px;
    
    font-family: 'Roboto', sans-serif;
    
   
    
    box-sizing: border-box;
    
   
    
}
.compras-info {
      border:2px solid var(--cor-bt);
      margin-bottom: 16px;
    
}
.compras .compras-info #dados{
   
    
    display:flex;
    
    height:30px;
    width:100%;
   
    padding: 10px;
   
    background-color: var(--cor-bt);
    
    
    
    justify-content: space-around;
    align-items: center;
    
  
    box-sizing: border-box;
    
    
    
}
.compras .compras-info .produtos-comprados .produto {
    
    display: flex;
    margin:0 10px;
    padding: 10px 0;
    
    justify-content: space-between;
   
    
    
}
.produto-img {
    height: 30px;
}


.compra-carrinho{
    
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin:0 auto;
    width: 50%;
    padding-bottom: 5px;
    
    font-family: 'Fraunces', serif;
    font-weight: bold;
    
    
    
    box-sizing: border-box;
    
}
.compras .compra-carrinho #dados{
    display:flex;
    justify-content: space-between;
}
.compras .compra-carrinho #dados a{
    cursor:pointer;
}
#produto-carac a{
    margin-right: 16px;
}

#produto-carac a:hover{
    cursor: pointer;
}



/* estilizando o input de quantidade de produtos*/

#quantidade{
    width: 32px;
    border: none;
    border-bottom:2px solid var(--cor-bt); 
    
    text-align: center;
}

#bt-carrinho{
    width: 120px;
    height:40px;
    margin:0 auto;
    
    background-color:#EB4A4A;
     
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   color:white;
   
    
    border: none;
    border-radius: 5px;
    
}

#bt-carrinho:hover{
    background-color:transparent;
    border: 2px solid #EB4A4A;
    
    color:#EB4A4A;
    
    cursor:pointer;
    
    transition:color 0.6s;
}

/*Página de relatórios*/

#relatorios{
    
    display: flex;
   
    width: 80%;
   
    margin:0 auto;
    
    font-family: 'Roboto', sans-serif;
    
    justify-content: space-around;
   
}

#relatorios .form-cont{
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    border: 2px solid var(--cor-bt);
    border-radius:15px;
    
    
    align-items: center;
    
    
    padding-bottom: 16px;
    box-sizing: border-box;
}


#relatorios .form-cont #start {
    margin-bottom: 16px;
}




#relatorios .form-cont .title-relatorio{
    
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
    
    border-radius:10px;
    
    margin-bottom: 16px;  
    
    padding:20px;
    
    background-color: var(--cor-bt);
    
    box-sizing: border-box;
    
}

#relatorios .form-cont #start{
    
    text-align: center;
    border:none;
    border-bottom: 2px solid var(--cor-bt);
}

#relatorios .form-cont #start:focus{
    
    background-color:transparent;
    border:none;
    border-bottom: solid 2px var(--cor-bt);;
}



#relatorios .form-cont #bt-rela{
    
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
       letter-spacing: 2px; 
     
     background-color: var(--cor-bt);
     color:white;
     
     padding: 5px;
     
     border:none;
     border-radius: 2px;
     
     
     cursor:pointer;
     
     box-sizing: border-box;
     transition:color 0.6s;
    
}


#relatorios .form-cont #bt-rela:hover{
    
    background-color: transparent;
    color: var(--cor-bt);
    
  
   
    border: solid 2px var(--cor-bt);
    border-radius:2px;
    
    box-sizing: border-box;
    
    padding: 3px;
}

